<header id="top_bar">
	<div id="site_logo">
		<h1><%= link_to "Codej.am Prototype",  root_path, name: "Home"%></h1>
	</div>
	<% if signed_in? %>
		<div class="user_nav">
			<div class="dropdown_div bottom">
				<ul class="nav_links">
					<li><%= link_to "Users", users_path, class: "standout" %></li>
					<li><%= link_to "Projects", projects_path, class: "standout" %></li>
					<li id="fat-menu" class="dropdown"><a href="#" class="dropdown-toggle standout" data-toggle="dropdown">Account<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to "#{current_user.first_name} #{current_user.surname}", user_path(current_user.pseudonym) %></li>	
							<li><%= link_to "Settings", edit_user_path(current_user.pseudonym) %></li>
							<li class="divider"></li>
							<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="user_mini">
  		  <%= link_to gravatar_for(current_user), user_path(current_user.pseudonym) %>
	    </div>
		</div>
	<% else %>
	<div class="signinContainer">
		<%= form_for(:session, url: sessions_path) do |f|%>
		<div class="top_div">
			<%= f.label :email%>
			<%= f.text_field :email%>
		</div>
		<div class="top_div">
			<%= f.label :password%>
			<%= f.password_field :password%>
		</div>
		<div class="top_div">
			<%= f.submit "Sign in", class: "btn btn-medium btn-primary signin"%>
		</div>
		<% end %>
	</div>
	<% end %>
</header>