<div class="clear">
  <h1>List of projects</h1>
  <% if !@projectList.empty? %>
  <div class="projectsTable">
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Repo Location</th>
      </thead>
      <tbody>
    <% @projectList.each do |proj| %>
    <tr>
      <td><%= link_to proj.name, project_path(proj), class: "standout" %></td>
      <td><%= proj.description %></td>
      <td><%= proj.repository %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
  </div>
  <% end %>
  <div>
  	<div class="outside_div">
  		<h2>Create Project</h2>
  		<hr/>
  		<div id="createProject">
  			<% @project = Project.new %>
  			<%= form_for(@project, :url => {:action => "create"}) do |f| %>
    			<!--%= render 'shared/error_messages' %-->
          <div class="editorSandbox">
            <%= f.label :name, "Name", :class => 'projectFieldLabel' %>
    				<%= f.text_field :name, :class => 'projectTextField' %>
  				</div>

  				<div class="editorSandbox">
  				  <%= f.label :tagline, "Tagline", :class => 'projectFieldLabel' %>
  				  <%= f.text_field :tagline, :class => 'projectTextField'  %>
				  </div>

  				<div class="editorSandbox">
  				  <%= f.label :repository, "Code Repository", :class => 'projectFieldLabel' %>
    				<%= f.text_field :repository, :class => 'projectTextField'  %>
  				</div>

  				<div class="editorSandbox">
    				<%= f.label :description, "Description", :class => 'projectFieldLabel' %>
    				<%= f.text_area(:description, :cols => 40, :rows => 15, :class => 'descriptionBox') %>
  				</div>
  				<!--
  				<div class="editorSandbox">
  				  <%= f.label :interests, "Interests", :class => 'projectFieldLabel' %>
    				<%= f.text_field :interests, :class => 'projectTextField'  %>
  				</div>-->
  				
  				<div>
    				<%= f.submit "Create Project", class:"btn btn-medium btn-primary"%>
  				</div>
  			<% end %>
  		</div>
  	</div>
  </div>
<div>